<div class="kuuhaku">
  <ul class="list-unstyled">
  <% movies.each do |movie| %>
    <div class="user_list">
      <li class="media">
        <div class="media-body">
          <% if movie.image_name? %>
            <div class="user_image"><%= image_tag movie.image_name.url %></div>
          <% else %>
           <div class="user_image"><img src="https://res.cloudinary.com/hbvvwh0vr/image/upload/v1570983763/noimage_k8cvmz"></div>
          <% end %>
          <div class="movie_title"><span class="movie_title_logo">User</span><%= movie.user.name %></div>
          <div class="movie_title"><span class="movie_title_logo">Title</span><%= movie.title %></div>
        </div>
      </li>
    </div>
    <% end %>
  </ul>
</div>
<%= paginate movies %>