html {
    height: 100%;
}
html a{
    color: black;
}
html a:hover{
    color: #FF33FF;
}

body {
    font-family: 'Crimson Text', serif;
    height: 100%;
}
 
 
.top_button {
    background-color: #FF33FF;
    border: none;
    width: 23%;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 15px;
}
.top_button:hover {
    background-color: #FF99FF;
}
 
.unlike  {
    cursor: pointer;
    color: #FF1493;
}


.user_introduction {
    margin-top: 10px;
    font-size:18px;
}

.img-fluid {
    border-radius:50%;
    height: auto;
    width:100%;
    margin: 0 auto;
}

.movies_container {
    width: 43%;
    display: inline-block;
    margin-left: 20px;
}

.share_movie {
    width: 140px;
    font-size: 20px;
    color: white;
}

.user_list{
    display: inline-block;
    width: 30%;
    margin-right: 10px;
}

.user_list img {
    width:100%;
    height:auto;
}

.text-center-toppage {
    position:relative;
    top: 220px;
    text-align: center;
}

.text-center-toppage h1{
    color: black;
    font-size: 60px;
}

.text-center-toppage h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.toppage_image {
    width: 100%;
    height: 100%;
    background-image: url("/user_images/top1.jpg");
    background-size: cover;
}

.form-group {
    font-size: 20px;
}

.nav-item {
    font-size: 25px;
}

.navbar-brand {
    font-size: 25px;
}

.kuuhaku {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.flash {
    position: relative;
    top: 0px;
    margin: 0;
}

.edit_form{
    margin: 0 auto;
    width: 40%;
}

.card-body {
    width:100%;
    text-align: center;
}
.card-body img{
    width:100%;
    text-align: center;
}

.card_header{
    background-color: #FF33FF
}

.movie_image img{
    width: 100%;
}

.movie_title_logo  {
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin-right: 5px;
}

.movie_category_logo {
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin-right: 5px;
}

.movie_title {
    font-size: 20px;
    margin-bottom: 0px;
}

.movie_category {
    font-size: 23px;
}

.movie_image_show img {
    width: 40%;
    text-align: center;
}

.img_square img{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.toppage_image {
    width: 100%;
    height: 100%;
    background-image: url("/user_images/top1.jpg");
    background-size: cover;
}

.edit_button {
    background-color: #DDDDDD;
}
.edit_button:hover {
    background-color: #EEEEEE;
}

.share_button {
    background-color: #FF33FF;
    border: none;
}
.share_button:hover {
    background-color: #FF33FF;
}

.movielist_category {
    margin: 20px;                 /* デフォルトCSS打ち消し */
    font-size:  40px;           /* 文字サイズ指定 */
    position:  relative;        /* 位置調整 */
    font-weight:  normal;       /* 文字の太さ調整 */
    display:  inline-block;     /* インラインブロックにする */
    padding-top: 40px;          /* 余白指定 */
    padding-left: 40px;         /* 余白指定 */
}
.movielist_category:before {
    content:  '';               /* 空白の要素を作る */
    background-color: #FF33FF;  /* 背景色指定 */
    display:  block;            /* ブロック要素にする */
    position:  absolute;        /* 位置調整 */
    left:  0;                   /* 位置調整 */
    height: 90px;               /* 高さ指定 */
    width: 90px;                /* 幅指定 */
    border-radius:  50%;        /* 丸くする */
    top: 0;                     /* 位置調整 */
    z-index:  -1;               /* 重なり調整 */
}

.post_button{
    background-color: #FF33FF;
    border: none;
    color: white;
    width: 100%;
}
.post_button:hover{
    background-color: #FF33FF;
    opacity: 0.6;
    transition: 0.3s;
    color: white;
}

.img_wrap{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.img_wrap:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

@media screen and (min-width:800px) {
    .user_list{
    width: 22%;
    }
}
@media screen and (min-width:1024px) {
    .user_list{
    width: 18%;
    }
}
